<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CardGameWNB.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26485F511ADD5504008CC7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26485F6D1ADD5504008CC7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26866C981AEE6AA500A3FB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26866CB31AEE6AA500A3FB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26866CC21AEE6B2400A3FB31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
